src/*
obj/*
mod/*

src_fam/*
obj_fam/*
mod_fam/*

make.inc

*exe
*i
# Do not track the make.inc currently in use
make.inc

# Do not track compiled python modules
*.pyc
src_heph/*.pyc

site/

# Do not track logs of various kinds
testing/integration/logs/

# Do not track the documentation builds
site/ 

tantalus_examples/out/
tantalus_examples/diffs/
tantalus_examples/work/*

compilation_logs/*

manual/tex_source/*.aux
manual/tex_source/*.log
manual/tex_source/*.bib
manual/tex_source/*.pdf
manual/tex_source/*.out

manual/tex_source_heph/*.aux
manual/tex_source_heph/*.log
manual/tex_source_heph/*.bib
manual/tex_source_heph/*.pdf
manual/tex_source_heph/*.out

auxiliary/decomposition/mod/
auxiliary/decomposition/obj/

# MOCCaPy
# -------
# virtual python environment
MOCCaPy/.venv/
# bash scripts (symbolic link)
env
# Macos
.DS_Store
# pycharm
.idea
.obsidian
experiments/
./MOCCaPy/sandbox/mocca
./MOCCaPy/sandbox/shenfun
MOCCaPy/tests/mocca/mesh/png/

MOCCaPy/mocca/data/parameterizations
MOCCaPy/scripts/Ca40.f90/BSkG1.param
MOCCaPy/scripts/Ca40.f90/trash
MOCCaPy/scripts/Ca40.f90/*.param
MOCCaPy/scripts/tryout.py
MOCCaPy/scripts/sandbox.py

MOCCaPy/.python-version
MOCCaPy/uv.lock

*.so
MOCCaPy/f90/_build_*/
MOCCaPy/tests/mocca/mean_field/states/spwf_0.2_0.2_0.2/*.hdf5
MOCCaPy/tests/mocca/mean_field/states/spwf_0.2_0.2_0.16/*.hdf5

