job-*.sh
diff.txt
_.txt
*.so.txt
*.so
*.mod
src/*
obj/*
mod/*
*exe
*.i

den_*
pot_*
tant_*
experiments/PyScalapack/PyScaLAPACK
# Do not track the make.inc currently in use
make.inc

# Do not track compiled python modules
*.pyc
src_heph/*.pyc

site/

# Do not track logs of various kinds
testing/integration/logs/

# Do not track the documentation builds
site/ 

tantalus_examples/out/
tantalus_examples/diffs/
tantalus_examples/work/*

compilation_logs/*

manual/tex_source/*.aux
manual/tex_source/*.log
manual/tex_source/*.bib
manual/tex_source/*.pdf
manual/tex_source/*.out

manual/tex_source_heph/*.aux
manual/tex_source_heph/*.log
manual/tex_source_heph/*.bib
manual/tex_source_heph/*.pdf
manual/tex_source_heph/*.out

auxiliary/decomposition/mod/
auxiliary/decomposition/obj/
pasta-test/pot_sph_sc_BSkG4_BCS_nb=0.07_Z=40_A=1282_a=26.4_scal8n_ext_nx=3_ny=3_nz=3
pasta-test/tant_sph_sc_BSkG4_BCS_nb=0.07_Z=40_A=1282_a=26.4_scal8n_ext_nx=3_ny=3_nz=3.hdf5
pasta-test/den_sph_sc_BSkG4_BCS_nb=0.07_Z=40_A=1282_a=26.4_scal8n_ext_nx=3_ny=3_nz=3

experiments/elpa/elpa-2024.05.001
experiments/elpa/envtools
experiments/elpa/pyelpa
experiments/PyScalapack/elpa
